@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #b0d600; /* Darker primary for light mode */
  --color-secondary: #ff4d4d;
  --color-dark-bg: #09090b;
  --color-dark-surface: #18181b;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 transition-colors duration-300;
  }
  
  :is(.dark body) {
    @apply bg-dark-bg text-gray-100;
  }
}